CONFIG_SERVER_URL=http://localhost:8888
CONFIG_REPO_LOCATION=file:../config-repo

JWT_PRIVATE_KEY=replace_with_pem_or_base64_pkcs8_rsa_private_key
JWT_PUBLIC_KEY=replace_with_pem_or_base64_x509_rsa_public_key
JWT_EXPIRATION=3600000

AUTH_DB_URL=jdbc:mysql://localhost:3306/auth_db?createDatabaseIfNotExist=true
AUTH_DB_USERNAME=root
AUTH_DB_PASSWORD=replace_with_auth_db_password

PRODUCT_DB_URL=jdbc:mysql://localhost:3306/product_db?createDatabaseIfNotExist=true
PRODUCT_DB_USERNAME=root
PRODUCT_DB_PASSWORD=replace_with_product_db_password

ORDER_DB_URL=jdbc:mysql://localhost:3306/order_db?createDatabaseIfNotExist=true
ORDER_DB_USERNAME=root
ORDER_DB_PASSWORD=replace_with_order_db_password

INVENTORY_DB_URL=jdbc:mysql://localhost:3306/inventory_db?createDatabaseIfNotExist=true
INVENTORY_DB_USERNAME=root
INVENTORY_DB_PASSWORD=replace_with_inventory_db_password

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

AUTH_BOOTSTRAP_ADMIN_ENABLED=false
AUTH_BOOTSTRAP_ADMIN_FULL_NAME=replace_with_admin_name
AUTH_BOOTSTRAP_ADMIN_EMAIL=replace_with_admin_email
AUTH_BOOTSTRAP_ADMIN_PASSWORD=replace_with_admin_password
